body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /*color: #827E66;*/
    color: #668282;
    display: table;
    font-weight: 300;
    font-family: 'Lato';
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url("../images/atTheBeach1.jpg");
    background-size: cover;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.container {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.content {
    text-align: center;
    display: inline-block;
}

.navbar-brand {
    font-family: 'Pacifico';
}



.title {
    font-family: 'Pacifico';
    font-size: 96px;
    margin-bottom: 40px;
}

.quote {
    font-size: 24px;
    color: #4A5E5E;
}

.form-group {
    background-color: transparent;
}